<!DOCTYPE html>
<div class="container country-finder-component" ng-app="countryFinder">
    <div class="row header-row">
        <div class="col-6">
            <img src="./assets/images/flarelogo.png" class="flare-hr-logo"/>
        </div>
        <div class="col-6">
            <label class="form-check-label float-right" *ngIf="(this.countriesHistory$ && this.countriesHistory$.length > 0)">
                <input type="checkbox"
                       class="form-check-input"
                       (change)="onHistoryCBChange($event)">History
            </label>
        </div>
    </div>
    <div class="row country-finder">
        <div class="col-md-5" *ngIf="!this.historyChecked">
            <h6 class="country-finder-header">Enter Country Name</h6>
            <input list="countries"
                   name="countryInput"
                   id="country-finder-input"
                   (keyup)="onCountryFinderInputChange($event)"
                   (paste)="onCountryFinderInputChange($event)">
            <datalist id="countries" ngDefaultControl
                      class="form-control country-data-list">
                <option *ngFor="let cnt of countries$"
                        value="{{cnt.name}} - {{cnt.alpha3Code}}"></option>
            </datalist>
        </div>
        <div class="col-md-5" *ngIf="this.historyChecked">
            <h6 class="country-finder-header">Countries Search History</h6>
            <ul class="list-group">
                <li class="list-group-item"
                    *ngFor="let cnt of countriesHistory$"
                    (click)="onCountryListItemClick($event)">{{cnt.name}}</li>
            </ul>
        </div>
        <div class="col-md-7" id="country-detail" *ngIf="this.selectedCountry$">
            <div><strong>Country:</strong> {{selectedCountry$["name"]}}</div>
            <img src="{{selectedCountry$['flag']}}" id="selected-country-flag"/>
            <div><strong>Currency:</strong> {{selectedCountry$["currencies"][0]["name"]}}</div>
            <div><strong>Latitude, Longitude:</strong> {{selectedCountry$["latlng"][0]}}, {{selectedCountry$["latlng"][1]}}</div>
            <div><strong>Area:</strong> {{selectedCountry$["area"]}}</div>
        </div>
    </div>
</div>