.country-finder-component{
  max-width: $component-max-width;
  margin: $component-margin;
  border: $component-border;
  border-radius: $component-border-radius;
  min-height: $component-min-height;

  .header-row{
    min-height: $header-row-min-height;
  }

  .flare-hr-logo{
    width: $logo-width;
    margin: $logo-margin;
  }

  .form-check-label{
    margin: $component-margin;
  }

  .form-control{
    border: none;
  }

  .country-finder{
    margin: $country-finder-margin;
    #country-input{
     width: $country-finder-input-width;
    }
    .country-data-list{
      display: none;
    }
    .country-finder-header{
      font-size: $country-finder-header-font-size;
      margin: $country-finder-header-margin;
    }
    #country-finder-input{
      border: none;
      border-bottom: $country-finder-input-border-bottom;
      width: $country-finder-input-width;
    }
    @media screen and (max-width: 768px) {
      #country-detail{
        margin-top: 20px;
      }
    }
    #country-detail{
      > * {
        line-height: 1;
        margin-bottom: 1rem;
      }
    }
    #selected-country-flag{
      width: $selected-country-flag-width;
    }
    .list-group {
      margin: $list-group-margin;
      .list-group-item {
        padding: $list-group-item-padding;
        border: none;
        border-bottom: $country-finder-input-border-bottom;
        border-radius: 0;
        margin-bottom: 5px;
        cursor: pointer;
      }
    }
  }

  .btn:focus,
  .form-control:focus,
  input:focus{
    outline: 0;
    box-shadow: none;
  }
}
