$primary-color:                           #eeb007;
$secondary-color:                         #fdbd00;
$header-row-min-height:                   75px;
$logo-width:                              40px;
$logo-margin:                             10px 0;
$component-max-width:                     600px;
$component-min-height:                    400px;
$component-margin:                        1.5rem auto;
$component-border:                        1px solid $secondary-color;
$component-border-radius:                 3px;
$country-finder-margin:                   10px;
$country-finder-header-font-size:         .8rem;
$country-finder-header-margin:            0;
$country-finder-input-width:              200px;
$country-finder-input-border-bottom:      1px solid $secondary-color;
$selected-country-flag-width:             30px;
$list-group-item-padding:                 0 .5rem;
$list-group-margin:                       5px 0;